/* general styles */

html,
body {
    background-color: white;
    margin: 0;
    padding: 0;
    /*to avoid browser defaults*/
    min-height: 100vh;
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

/* header styles */

header {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #3b4464;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

h1 {
    color: #3b4464;
}

/* content styles */

article {
    background-color: white;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

section {
    background-color: #ebebeb;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard>section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3b4464;
    padding-top: 20px;
    margin: 0 0 20px 0;
}

a.button {
    text-decoration: none;
    background-color: #3c6cf9;
    padding: 10px;
    display: block;
    width: max-content;
    color: white;
    border-radius: 10px;
}

a.button:hover {
    background-color: #ebebeb;
    color: #3c6cf9;
}

/* footer styles */

footer {
    background-color: white;
    padding: 20px;
    margin-top: 80px;
    text-align: center;
}